body {
  background-image: url(https://cdn4.vectorstock.com/i/1000x1000/99/58/neon-breaking-news-sign-on-brick-wall-background-vector-26129958.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
